/* fancy CSS stuff will commence here */

/*
body {
    margin: 0%;
    padding: 0%;
    background-color: paleturquoise;
}
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Sacramento');

body {
  margin: 0%;
  padding: 0%;
  background-image: url(./images/overviewmountainnostrokelong.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Josefin Slab', serif;
}

footer {
  border: 2px solid maroon;
  background-color: paleturquoise;
  max-width: 100%;
  height: auto;
}

.test {
  /* border: 2px solid black;
    background: none; */
  max-width: 100%;
  min-height: 90vh;
  margin: 0%;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #163e6b;
}

a:hover{
  color: lightgrey;
  text-decoration: none;
}

#OverviewMountains {
  color: black;
}

#selfperson {
  background-image: url(./images/icons/selfperson.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


#AboutMeForest {
  background-image: url(./images/aboutmeforestbluelong.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 75vw;

}

#PastExperienceRiver {
  background-color: #477ab2;
  background-repeat: no-repeat;
  background-size: 104%;
  width: 100vw;
  height: 79vw;
  margin-top: -1em;
}

#ImaginationOcean {
  background-color: #7bb1dd;
  margin: -1em 0em;
  width: 100vw;
  height: 75vw;
}





#city {
  background-image: url(./images/icons/city.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

#mountains {
  background-image: url(./images/icons/mountains.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#unicorn {
  background-image: url(./images/icons/unicorn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

#mermaid {
  background-image: url(./images/icons/mermaid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

#dog {
  background-image: url(./images/icons/doggo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
}

#cat {
  background-image: url(./images/icons/cat.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
}

#tea {
  background-image: url(./images/icons/tea.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

#coffee {
  background-image: url(./images/icons/coffee.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 59%;
}